html {
    font: Regular 16px/24px Helvetica Neue;
    opacity: 1;
}

#menu {
    background: #202340 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

i {
    background: 0% 0% no-repeat padding-box;
    color : #EEB14F; 
}

td.text {
    font: Regular 22px/26px Helvetica Neue;
    letter-spacing: 0;
    color: #FFFFFF;
}