/*
================================================================================
*/

/*
    CSS commun à toutes les pages
*/
html {
    font: Regular 16px/24px Helvetica Neue;
}

thead {
    background-color: #e9ecef;
}

tr {
    border-bottom: solid 2px #e9ecef;
}

section {
    margin-top: 3rem;
}

.section-title {
    border-bottom: solid 3px #202340;
    margin-bottom: 1rem;
}

.sub-section-title {
    border-bottom: solid 1px #202340;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.jumbotron {
    padding : 24px;
}

.alert-info {
    background-color: #202340;
    color : #eeb14f;
    border-radius: 10px 10px 10px 10px;
}

/*
================================================================================
*/

/*
    CSS pour la page de connexion
*/
.connexion-page{
    background-color: #202340;
    color: white;
}

/*
================================================================================
*/

/*
    CSS pour les menu
*/
.menu {
    background: #202340;
    min-height: 100vh;
    text-transform: uppercase;
}

.menu a, .menu a:hover {
    color: white;
    text-decoration: none;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    margin-top: 2rem;
    padding-left: 1rem;
}

.menu i {
    color : #EEB14F;
}

/*
================================================================================
*/

/*
    CSS pour les cards
*/
.card-img {
    /* Permet de centrer les images */
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.card-img-top {
    max-height: 200px;
    max-width: 200px;
}

.card-img-bottom {
    max-height: 200px;
    max-width: 600px;
}

.card-body {
    max-height: 200px;
    border-top: solid 1px lightgray;
}

/*
================================================================================
*/

/*
    CSS pour le chat
*/
.media {
    padding : 1.5rem;
}

.chat-advisor-message {
    background-color: #eeeeee;
}

.message-content-input {
    border-radius: 5rem 5rem 5rem 5rem;
}